#
# Config file for TilesAtHome 
#

# Edit this file and save as "authentication.conf"

### Authentication:
## Upload
# this is handed out by Ojw/almien only. OSM or Wiki account will NOT work.
UploadUsername=CHANGEME
UploadPassword=CHANGEME


