#
# Config file for TilesAtHome 
#

# Edit this file and save as "authentication.conf"

### Authentication:

# Enter your normal OSM e-mail address and password here.
UploadUsername=CHANGEME
UploadPassword=CHANGEME


