#
# Config file for TilesAtHome 
#

# Edit this file and save as "authentication.conf"

### Authentication:
## Upload
# Enter your normal OSM username and password here.
UploadUsername=CHANGEME
UploadPassword=CHANGEME


