/ColorPlugin
/improve-osm-plugin
/josm-matsim-plugin
/kendzi3d
/missingroads
/scoutsigns
/TombPlugin
/traffic-flow-direction
/JOSM-configuration
/openstreetcam
/areaselector.git
/auto-tools.git
/Color
/configuration.git
/osmarender.wip
/osm-obj-info.git
/tofix.git
