#---------------------------------------------------------------
# Password file for tiles@home client
#
# Enter your passwords here, then rename it to secret.pl
#---------------------------------------------------------------

# Website to upload tiles to:
function GetUploadURL(){
  return("http://osmathome.bandnet.org/test.php");
}
function GetUploadPassword(){
  return("username|password");
}

# OSM username for downloading map data
function GetOsmPassword(){
  return("user%40domain:password");
}

