# https://git-scm.com/docs/gitmailmap
# Jane Doe <jane@example.com> <jane@svn.openstreetmap.org>
Tom Carden <tom@tom-carden.co.uk> <tom@svn.openstreetmap.org>
Ben Gimpert <ben@somethingmodern.com> <ben@svn.openstreetmap.org>
Tommy Persson <tommy.persson@gmail.com> <tpersson@svn.openstreetmap.org>
Petter Reinholdtsen <pere@hungry.com> <pere@svn.openstreetmap.org>
Bart Vanhauwaert <bvh-osm@irule.be> <bvh@svn.openstreetmap.org>
Rob McKinnon <rob@movingflow.co.uk> <rob@svn.openstreetmap.org>
Raphael Jacquot <raphael.jacquot@univ-grenoble-alpes.fr> <amaury@svn.openstreetmap.org>
Robert Hart <bathterror@gmail.com> <enxrah@svn.openstreetmap.org>