		<rule e=\"way\" k=\"highway\" v=\"*\">
			<rule e=\"way\" k=\"surface\" v=\"$v\">
				<rule e=\"way\" k=\"smoothness\" v=\"excellent\">
					<rule k=\"area\" v=\"yes|true\">
						<area class=\"$k-area-ex surface-area\"/>
					</rule>
					<else>
						<line class=\"$k-line-ex surface-line\"/>
					</else>
				</rule>
				<else>
					<rule e=\"way\" k=\"smoothness\" v=\"good\">
						<rule k=\"area\" v=\"yes|true\">
							<area class=\"$k-area-go surface-area\"/>
						</rule>
						<else>
							<line class=\"$k-line-go surface-line\"/>
						</else>
					</rule>
					<else>
						<rule e=\"way\" k=\"smoothness\" v=\"intermediate\">
							<rule k=\"area\" v=\"yes|true\">
								<area class=\"$k-area-in surface-area\"/>
							</rule>
							<else>
								<line class=\"$k-line-in surface-line\"/>
							</else>
						</rule>
						<else>
							<rule e=\"way\" k=\"smoothness\" v=\"bad\">
								<rule k=\"area\" v=\"yes|true\">
									<area class=\"$k-area-ba surface-area\"/>
								</rule>
								<else>
									<line class=\"$k-line-ba surface-line\"/>
								</else>
							</rule>
							<else>
								<rule e=\"way\" k=\"smoothness\" v=\"very_bad\">
									<rule k=\"area\" v=\"yes|true\">
										<area class=\"$k-area-vb surface-area\"/>
									</rule>
									<else>
										<line class=\"$k-line-vb surface-line\"/>
									</else>
								</rule>
								<else>
									<rule e=\"way\" k=\"smoothness\" v=\"horrible\">
										<rule k=\"area\" v=\"yes|true\">
											<area class=\"$k-area-ho surface-area\"/>
										</rule>
										<else>
										<line class=\"$k-line-ho surface-line\"/>
										</else>
									</rule>
									<else>
										<rule e=\"way\" k=\"smoothness\" v=\"very_horrible\">
											<rule k=\"area\" v=\"yes|true\">
												<area class=\"$k-area-vh surface-area\"/>
											</rule>
											<else>
												<line class=\"$k-line-vh surface-line\"/>
											</else>
										</rule>
										<else>
											<rule e=\"way\" k=\"smoothness\" v=\"impassable\">
												<rule k=\"area\" v=\"yes|true\">
													<area class=\"$k-area-im surface-area\"/>
												</rule>
												<else>
													<line class=\"$k-line-im surface-line\"/>
												</else>
											</rule>
											<else>
												<rule k=\"area\" v=\"yes|true\">
													<area class=\"$k-area-xx surface-area\"/>
												</rule>
												<else>
													<line class=\"$k-line-xx surface-line\"/>
												</else>
											</else>
										</else>
									</else>
								</else>
							</else>
						</else>
					</else>
				</else>
			</rule>
		</rule>