{% load browse_filter %}
{% extends "base.html" %}
{% block title %}t@h Browse map{% endblock %}
{% block breadcrumb %}{{ block.super }} <a href="{% url tah.browse.views.index %}">&raquo;Browse</a> {% endblock %}

{% block heading %}t@h Browse map{% endblock %}
{% block content %}
<table id="browsetable" class="browsetable">
{% comment %}first navigation line starts here{% endcomment %}
<tr class="browsetable"><td  class="browsetable"><a href="{% url tah.browse.views.index %}?layer={{layer}}&z={{ z|add:"-1" }}&x={{ x|div:2 }}&y={{ y|div:2 }}"><img src="{% url django.views.generic.simple.direct_to_template template="homepage.html" %}/media/browsetable_out.png" class="browseimg"/></a></td>{% for cur_x in x_range %}<td class="browsetable"><a href="{% url tah.browse.views.index %}?layer={{layer}}&z={{ z }}&x={{cur_x}}&y={{ y_range|first|add:"-1" }}"><img src="{% url django.views.generic.simple.direct_to_template template="homepage.html" %}/media/browsetable_N.png" class="browsetable"/></a></td>{% endfor %}<td class="browsetable"><a href="{% url tah.browse.views.index %}?layer={{layer}}&z={{ z|add:"1" }}&x={{ x|add:x }}&y={{ y|add:y }} "><img src="{% url django.views.generic.simple.direct_to_template template="homepage.html" %}/media/browsetable_in.png" class="browseimg"/></a><td/></tr>

{% comment %}main image table starts here{% endcomment %}
{% for cur_y in y_range %}
<tr><td class="browsetable"><a href="{% url tah.browse.views.index %}?layer={{layer}}&z={{ z }}&x={{ x_range|first|add:"-1" }}&y={{ cur_y }}"><img src="{% url django.views.generic.simple.direct_to_template template="homepage.html" %}/media/browsetable_W.png" class="browsetable"/></a></td>{% for cur_x in x_range %}<td class="browsetable"><a href="{% url tah.browse.views.index %}?layer={{layer}}&z={{z}}&x={{cur_x}}&y={{cur_y}}"><img src="http://tah.openstreetmap.org/Tiles2/{{layer}}/{{z}}/{{cur_x}}/{{cur_y}}.png" width="256" height="256" class="browseimg"/></a></td>
{% endfor%}<td class="browsetable"><a href="{% url tah.browse.views.index %}?layer={{layer}}&z={{ z }}&x={{ x_range|slice:"-1:"|first|add:1 }}&y={{ cur_y }}"><img src="{% url django.views.generic.simple.direct_to_template template="homepage.html" %}/media/browsetable_E.png" class="browsetable"/></a></td></tr>{% endfor%}
{% comment %}last navigation line starts here{% endcomment %}

<tr><td class="browsetable"><a href="{% url tah.browse.views.index %}?layer={{layer}}&z={{ z|add:"-1" }}&x={{ x|div:2 }}&y={{ y|div:2 }}"><img src="{% url django.views.generic.simple.direct_to_template template="homepage.html" %}/media/browsetable_out.png" class="browsetable"/></a></td>{% for cur_x in x_range %}<td class="browsetable"><a href="{% url tah.browse.views.index %}?layer={{layer}}&z={{ z }}&x={{cur_x}}&y={{ y_range|slice:"-1:"|first|add:1 }}"><img src="{% url django.views.generic.simple.direct_to_template template="homepage.html" %}/media/browsetable_S.png" class="browsetable"/></a></td>{% endfor %}<td class="browsetable"><a href="{% url tah.browse.views.index %}?layer={{layer}}&z={{ z|add:"1" }}&x={{ x|add:x }}&y={{ y|add:y }} "><img src="{% url django.views.generic.simple.direct_to_template template="homepage.html" %}/media/browsetable_in.png" class="browsetable"/></a><td/></tr>
</table>
<a href="{% url tah.browse.views.tiledetails layer,z,x,y %}">Show Tile detail</a>
{% endblock %}