#
# Config file for TilesAtHome 
# contains your Authentication information

# Edit this file and save as "authentication.conf"

# PLEASE NOTE that you need to save this file in UTF-8
# encoding if your password contains non-alphanumeric 
# characters, such as ';.-$£' etc. If you cannot do this,
# or don't know howw to do this, a workaround is to set your
# openstreetmap password to something that only contains
# letters and numbers.

# Enter your normal OSM e-mail address and password here.
UploadUsername=CHANGEME
UploadPassword=CHANGEME


