body{
  background-color:#005;
  font-family:sans-serif;
  background: url(Gfx/gradient.png);
  background-repeat: repeat-x;
  color:white;
}
a:link, a:visited{
  color:#CFC;
}
.all{
  background-color:#222;
  margin: 2em;
  padding: 1em;
  border: 1px solid black;
}
.title{
  text-align:center;
}
.title img{
  border:none;
}
hr{
}
.code{
  border-width:1px;
  border-style: dashed;
  margin:1em;
  padding:1em;
  background-color:#333;
}
