/* commented backslash hack \*/ 
html, body{font: 90% arial, helvetica, sans-serif;background: #ccc} 
/* end hack */
html,body {margin:0;padding:0}

h1, h2 {
	margin: 0;
}

#outer{

}
* html #outer{
width:100%;/* box model hack for ie5.+*/
w\idth:100%
}

#header {
	width: 100%;
	height: 50px;
	text-align: center;
}

#help_about {
	float: right;
	margin-right: 10px
}

#main {
	border: 1px solid #bbb;
}

#content {
	margin: 0 0 0 330px;
	height: 620px;	/* Unfortunately only specifying height works as expected */
}

#map {
}

#clearfooter{
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	margin:0; padding:0;
	background: transparent;
}

#footer {
	height: 40px;
	padding: 10px;
}

#help {
	padding: 10px;
	background: #fff;
}

div.hover a {
display: block;
background-color: #ddf;
text-decoration: none;
padding: 5px;
font-weight: bold;
font-size : 12px;
}

div.hover a:hover {
background-color: #ddf;
}

#navigation {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	width: 320px;
	background: #ccc;
}
/*
#navigation ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-left:0;
	padding-left:1em;
	text-indent:-1em;
}
*/
.nav_content {
	padding-top: 10px;
	padding-left: 10px;
	clear: both;
	border: 1px solid #000;
	background: #fff;
}

/*
#nav_header {
	background: #ccc;
}

#nav_header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav_header li {
	float: left;
	border: 1px solid #bbb;
	border-bottom-width: 0;
	margin: 0;
}

#nav_header ul:hover {
	background: #ddf;
}

#nav_header a {
	text-decoration: none;
	display: block;
	background: #eee;
	padding: 5px 0px 5px 8px;
	color: #00c;
	width: 64px;
	text-align: center;
}

#nav_header a:hover {
	background: #ddf;
}

#nav_header #selected {
	border-color: black;
}

#nav_header #selected a {
	position: relative;
	top: 1px;
	background: #ddf;
	color: black;
	font-weight: bold;
}
*/
/* route via stuff */
.route_via {
	position: relative;
	top: 5px;
}
.route_plus {
	position: relative;
	top: -20px;
	left: 250px;
}

#route ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }
  
#route ul li {
  margin: 2px 0 6px 0;
  padding: 0;
  font-weight: bold;
  line-height: 30px; /* height of icon */
  background-repeat: no-repeat;
  background-position: 0 50%;
}
  
#route ul li a {
  display: block;
  margin-left: 30px; /* width of icon + whitespace */
  padding-left: 20px;
  width: 30px;
	style-set: "std-button";
  }

 #route input {
  display: inline-block;        /* inline with outer text */
  display-model: inline-inside; /* contains only inlines */
  margin-left: 90;
  style-set: "std-input";    /* all other visual and behavioral styles are
                                   derived from standard checkbox */
}

#via_begin { background-image: url(markers/route1.png); }
#via_end { background-image: url(markers/route2.png); }
#via_a { background-image: url(markers/letter1.png); }
#via_b { background-image: url(markers/letter2.png); }
#via_c { background-image: url(markers/letter3.png); }

#route_action {
	position: relative;
}