body {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

div.progress-container {
	border: 1px solid #ccc; 
	width: 99%; 
	margin: 2px 5px 2px 0; 
	padding: 1px; 
	float: left; 
	background: white;
}

div.progress-container > div {
	background-color: #ACE97C; 
	border-right: 1px solid #ccc;
	height: 22px
}

div.progress-container > div > span {
	float: right;
}