*{margin:0; padding:0;} /* clear all default CSS */

html, body {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	color:#333; /* global font color */
}

body {
	background-color: #fff;
	margin:3px;
	font:13px arial,helvetica,clean,sans-serif;
	*font-size:small;
	*font:x-small;
}

.mainNav li a em, h4 {font-size: 114%} /* =15 */

/* ----- base links ----- */
a:link {color:#009BC0;outline:none;text-decoration: none;font-weight:bold;}
a:visited {color:#009BC0;outline:none;text-decoration: none;font-weight:bold;}
a:hover {color:#004882;outline:none;font-weight:bold;}
a:active {color:#009BC0;outline:none;text-decoration: none;font-weight:bold;}
a:focus{color:#009BC0;outline:none;text-decoration: none;font-weight:bold;}
:focus { -moz-outline-style: none; }

.mainNav{clear:both}
.mainNav li{
	height:71px;
	list-style:none;
	float:left;
	background-color:#EBEBEB;
	background-image: url(images/navBtn.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

.mainNav li.current{
	background-color:#C36615;
	background-image: url(images/navCurrentBtn.gif);
}

.mainNav li.lastDone{
	background-color:#7C8437;
	background-image: url(images/navLastDoneBtn.gif);
}

.mainNav li.done{
	background-color:#7C8437;
	background-image: url(images/navDoneBtn.gif);
}

.mainNav li a, .mainNav li a:link, .mainNav li a:visited, .mainNav li a:hover, .mainNav li a:active {
color:#ccc;
}

.mainNav li.lastDone a, .mainNav li.lastDone a:link, .mainNav li.lastDone a:visited, .mainNav li.lastDone a:hover, .mainNav li.lastDone a:active, .mainNav li.current a, .mainNav li.current a:link, .mainNav li.current a:visited, .mainNav li.current a:hover, .mainNav li.current a:active, .mainNav li.done a, .mainNav li.done a:link, .mainNav li.done a:visited, .mainNav li.done a:hover, .mainNav li.done a:active {
color:#fff;
}

.mainNav li.done a:hover, .mainNav li.lastDone a:hover  {
color:#FFFF99;
cursor:hand;
}

.mainNav li a em{
width:150px;
display:block;
margin:6px 0 0 10px;
font-style:normal;
font-weight:bold;
}

.mainNav li a span{
width:250px;
display:block;
margin-left:10px;
font-weight:normal;
}

.mainNav li.mainNavNoBg{
background-image:none;
}

.mainNav li a{
height:71px;
display:block;
}

/* .mainNav.fiveStep */
.mainNav.fiveStep li{width:182px;}
.mainNav.fiveStep li a{width:182px;}

/* .mainNav.fourStep */
.mainNav.fourStep li{width:227px;}
.mainNav.fourStep li.mainNavNoBg{width:229px;}
.mainNav.fourStep li a{width:227px;}

/* .mainNav.threeStep */
.mainNav.threeStep li{width:302px;}
.mainNav.threeStep li.mainNavNoBg{width:304px;}
.mainNav.threeStep li a{width:303px;}

/* .mainNav.twoStep */
.mainNav.twoStep li{width:455px;}
.mainNav.twoStep li a{width:455px;}


.wizardpanel {
	background-color: #EBEBEB;
	margin:5px;
	display:none;
	border:solid 1px #AAAAAA;
}
.wizardcontent {
	height:300px;
	padding: 20px;
}
.wizardwrapper{
	width:920px;
	display: block;
	//margin: 5px;
	margin-left: auto;
    margin-right: auto;
}



/* BUTTONS */
.buttons{
	margin:10px;
	padding:10px;
	clear:both;
	height: 40px;
	float:right;
}
.next {
	height: 50px;
	width: 150px;
}
.previous {
	height: 50px;
	width: 150px;
}

.wizardcontent  #poitype, #navitype {
	border: 1px solid #E2E2E2;
	width: 300px;
	font-size: 18px;
	padding: 3px;
	height: 250px;
	margin-left: 25px;
}
.wizardpanel img {
	float: right;
}
.wizardcontent .explanation {
	margin-top: 70px;
	margin-bottom: 30px;
}
.wizardcontent #action {
	background-color: #EBEBEB;
	font-size:18px;
	width: 400px;
	padding: 5px;
	margin-left: 25px;
}
.footer {
	text-align:center;
	color:#666666;
}
.footer a {
	color:#666666;
}
