<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title><TMPL_VAR NAME="interlang_headertitle"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="../../style.css">
</head>
<body>
<div class="header"><img src="../../images/osm_button.png" alt="OpenStreetMap Tagwatch" width="138" height="48" border="0"><span class="logo">Tagwatch <TMPL_VAR NAME="country"></span> :: <TMPL_VAR NAME="interlang_headertext"><hr>
<TMPL_VAR NAME="interlang_interlang"> :: <TMPL_VAR NAME="lang_links"> :: <a href="../../<TMPL_VAR NAME="mainindexfile">"><TMPL_VAR NAME="interlang_upover"></a></div>


<h2><TMPL_VAR NAME="interlang_tagstatistics"></h2>
:: <a href="tags<TMPL_VAR NAME="ext">"><TMPL_VAR NAME="interlang_indextags"></a><br>
:: <a href="watchlist<TMPL_VAR NAME="ext">"><TMPL_VAR NAME="interlang_watchlist"></a><br>
:: <a href="grouplist<TMPL_VAR NAME="ext">"><TMPL_VAR NAME="interlang_mflist"></a><br>
:: <a href="relationslist<TMPL_VAR NAME="ext">"><TMPL_VAR NAME="interlang_relationslist"></a><br><br>
:: <a href="top_undocumented_keys<TMPL_VAR NAME="ext">"><TMPL_VAR NAME="interlang_top_undocumented_keys"></a><br>
:: <a href="top_undocumented_tags<TMPL_VAR NAME="ext">"><TMPL_VAR NAME="interlang_top_undocumented_tags"></a><br>
:: <a href="top_undocumented_relations<TMPL_VAR NAME="ext">"><TMPL_VAR NAME="interlang_top_undocumented_relations"></a>

<h2><TMPL_VAR NAME="interlang_generalstats"></h2>
<p><TMPL_VAR NAME="interlang_generalstats1"></p>
<ul>
<li><TMPL_VAR NAME="all_nodes"> nodes</li>
<li><TMPL_VAR NAME="all_ways"> ways</li>
<li><TMPL_VAR NAME="all_relations"> relations</li>
</ul>
<p><TMPL_VAR NAME="interlang_generalstats2"></p>

<table width="300px">
  <thead>
    <tr>
      <th nowrap><TMPL_VAR NAME="interlang_elements"></th>
      <th>Different types</th>
      <th><TMPL_VAR NAME="interlang_mentioned"></th>
      <th nowrap>En <TMPL_VAR NAME="interlang_desc"></th>
      <th nowrap><TMPL_VAR NAME="language"> <TMPL_VAR NAME="interlang_trans"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td nowrap><b><TMPL_VAR NAME="interlang_key"></b></td>
      <td nowrap><TMPL_VAR NAME="all_keys"></td>
      <td nowrap><TMPL_VAR NAME="mentioned_keys"></td>
      <td nowrap><TMPL_VAR NAME="en_documented_keys"></td>
      <td nowrap><TMPL_VAR NAME="lang_documented_keys"></td>
    </tr>
    <tr>
      <td nowrap><b>Tags</b></td>
      <td nowrap><TMPL_VAR NAME="all_tags"></td>
      <td nowrap><TMPL_VAR NAME="mentioned_tags"></td>
      <td nowrap><TMPL_VAR NAME="en_documented_tags"></td>
      <td nowrap><TMPL_VAR NAME="lang_documented_tags"></td>
    </tr>
    <tr>
      <td nowrap><b>Relations</b></td>
      <td nowrap><TMPL_VAR NAME="unique_relations"></td>
      <td nowrap><TMPL_VAR NAME="mentioned_relations"></td>
      <td nowrap><TMPL_VAR NAME="en_documented_relations"></td>
      <td nowrap><TMPL_VAR NAME="lang_documented_relations"></td>
    </tr>
  </tbody>
</table>


<h2><TMPL_VAR NAME="interlang_editorstats"></h2>
<p><TMPL_VAR NAME="interlang_editorstats1"></p>
<table width="300px">
  <thead>
    <tr>
      <th nowrap><TMPL_VAR NAME="interlang_editors"></th>
      <th><TMPL_VAR NAME="interlang_usage"></th>
    </tr>
  </thead>
  <tbody>

<TMPL_LOOP NAME="editorlist">
    <tr>
      <td nowrap><TMPL_VAR NAME="editor_name"></td>
      <td nowrap><TMPL_VAR NAME="editor_usage"></td>
    </tr>
</TMPL_LOOP>

  </tbody>
</table>


<div class="footer"><hr>
<TMPL_VAR NAME="interlang_credits">.</div>
</body>
</html>
