<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>OpenStreetMap Tagwatch for  <TMPL_VAR NAME="country"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<div class="header"><img src="../images/osm_button.png" alt="OpenStreetMap Tagwatch" width="138" height="48" border="0"><span class="logo">Tagwatch</span> :: <TMPL_VAR NAME="interlang_header"><hr>
<TMPL_VAR NAME="interlang_interlang"> :: <a href="en_stats_<TMPL_VAR NAME="key">.htm">en</a>, <a href="fr_stats_<TMPL_VAR NAME="key">.htm">fr</a>, <a href="de_stats_<TMPL_VAR NAME="key">.htm">de</a>, <a href="nl_stats_<TMPL_VAR NAME="key">.htm">nl</a>, <a href="sl_stats_<TMPL_VAR NAME="key">.htm">sl</a>, <a href="tr_stats_<TMPL_VAR NAME="key">.htm">tr</a> :: <a href="index_<TMPL_VAR NAME="lang">.htm"><TMPL_VAR NAME="interlang_up"></a></div>

<h2>Top 150 unapproved Tags</h2>

<table width="300px">
  <thead>
    <tr>
      <th>Tag</th>
      <th>used count</th>
    </tr>
  </thead>
  <tbody>

<TMPL_LOOP NAME="toplist">
    <tr>
      <td nowrap><TMPL_VAR NAME="tag"></td>
      <td nowrap><TMPL_VAR NAME="count"></td>
    </tr>
</TMPL_LOOP>

  </tbody>
</table>

<div class="footer"><hr>
<TMPL_VAR NAME="interlang_credits">.</div>
</body>
</html>
