<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title><TMPL_VAR NAME="interlang_headertitle"> :: <TMPL_VAR NAME="interlang_topundocumented"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="../../style.css">
</head>
<body>
<div class="header"><img src="../../images/osm_button.png" alt="OpenStreetMap Tagwatch" width="138" height="48" border="0"><span class="logo">Tagwatch <TMPL_VAR NAME="country"></span> :: <TMPL_VAR NAME="interlang_headertext"><hr>
<TMPL_VAR NAME="interlang_interlang"> :: <TMPL_VAR NAME="lang_links"> :: <a href="<TMPL_VAR NAME="indexfile">"><TMPL_VAR NAME="interlang_upmain"></a></div>

<h2><TMPL_VAR NAME="interlang_topundocumented"></h2>

<table width="300px">
  <thead>
    <tr>
      <th><TMPL_VAR NAME="interlang_tag"></th>
      <th nowrap><TMPL_VAR NAME="interlang_usage"></th>
    </tr>
  </thead>
  <tbody>

<TMPL_LOOP NAME="toplist">
    <tr>
      <td nowrap><TMPL_VAR NAME="tag"></td>
      <td nowrap><TMPL_VAR NAME="count"></td>
    </tr>
</TMPL_LOOP>

  </tbody>
</table>

<div class="footer"><hr>
<TMPL_VAR NAME="interlang_credits">.</div>
</body>
</html>