#---------------------------------------------------------------
# Password file for tiles@home client
#
# Enter your passwords here, then rename it to secret.txt
#---------------------------------------------------------------

# Website to upload tiles to:
Upload(http://osmathome.bandnet.org/test.php username|password)

# OSM username for downloading map data
OsmPassword(user%40domain:password)

