<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.osmu.gosmore"
      android:versionCode="1"
      android:versionName="1.0">
<!-- /ion/Program\ Files/Java/jdk1.6.0_23/bin/keytool.exe -genkey -keysize 2048 -keyalg RSA -validity 10000 -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:name=".Gosmore" android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
          <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity android:name=".Update"
                  android:label="Update">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity android:name=".Search"
                  android:label="Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity android:name=".Recent"
                  android:label="Recent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity android:name=".Preferences"
                  android:label="Preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity"
                  android:label="Gosmore"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="7"/>

</manifest> 