/*----------------------------------------------------
TOP
----------------------------------------------------*/

div.top {
	font-family: Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
}

div.love {
	position: relative;
	top: 10px;
	left: 20px;
	width: 100px;
	text-align: left;
	color: black;
}

div.nav {
	position: relative;
	top: -15px;
	margin-right: 20px;
	text-align: right;
	margin-bottom: -15px;
}