body 
{ 
	font-family: DejaVu Sans, helvetica, arial, sans-serif;
	font-size: 11pt;
}

a 
{ 
	text-decoration: none 
}


.error
{
	color: #c00000;
	font-weight:bold;
}
    #maindiv { width:1024px; 
	border-style:solid; border-width:1px; padding-left:5px; 
	}
	#iframe1 {  border-width:0px; width:100%; height:300px;  }
	#psbmt0 {  width:704px; height:600px;}
	strong { color: red; }
	table { border-style: solid; border-width:1px; border-spacing:0px }
	td,th { border-style: solid; border-width: 1px; }
	h1,h2,h3,th { font-weight: 500 }
	th { font-style:italic }
	#pansubmit_all {  height:480px; }
    #maindiv { width:1024px; padding-left:5px;}
    #map {   float:right;  }
    #login { float:right; }
	th { background-color: #ffffc0; }
	h1,h2,h3 { font-weight:10%;  }
	.narrow { width: 50px ; }
