Source: openstreetmap-josm
Section: utils
Priority: optional
Maintainer: Joerg Ostertag <debian@ostertag.name>
Build-Depends: debhelper (>> 3.7.2), pkg-config
Build-Depends-Indep: sun-java5-jdk|sun-java6-jdk, ant
Standards-Version: 3.6.1

Package: openstreetmap-josm
Architecture: all
Depends: sun-java6-re|sun-java6-jdk|sun-java6-jre|sun-java5-re|sun-java5-jdk|sun-java5-jre, menu
Recommends: openstreetmap-utils
Suggests:
	openstreetmap-map-icons
	openstreetmap-map-icons-restricted
	openstreetmap-mapnik-data
	gpsdrive
	mapnik
Conflicts:
	josm
Description: OpenStreetmap Editor Josm
 This Package contains the Openstreetmap Editor Josm
 this Editor can be used for working with OpenStreetMap Data
 you can download, change and update the OSM Data with this Editor
