Source: openstreetmap-josm
Section: utils
Priority: optional
Maintainer: Joerg Ostertag <debian@ostertag.name>
Build-Depends: debhelper (>> 3.7.2),
	pkg-config,
	libqt4-core
Build-Depends-Indep: sun-java6-jdk|openjdk-6-jdk,
	ant, zip,
	qt4-dev-tools
Standards-Version: 3.6.1

Package: openstreetmap-josm
Architecture: all
Depends: java6-runtime|sun-java6-jre|sun-java6-jdk|sun-java6-jre|openjdk-6-jdk|ia32-sun-java6-bin,
	 menu
Recommends: openstreetmap-utils
Suggests: openstreetmap-map-icons,
	openstreetmap-mapnik-data,
	gpsdrive,
	mapnik
Conflicts: josm
Description: OpenStreetmap Editor Josm
 This Package contains the Openstreetmap Editor Josm
 this Editor can be used for working with OpenStreetMap Data
 you can download, change and update the OSM Data with this Editor.
 The Package also includes a lot of josm-plugins from the main osm-svn 
 which even expand the Functionality of josm.
