# crontab for tile help

# every day at 2am delete tiles which havn't been looked at in more than a month
0 2 * * * /usr/bin/mysql -u tile -ptile tile -e 'delete from tiles where created_at < NOW() - interval 28 day;'

# clear out the tile ip limit stats every day
0 0 * * * /usr/bin/mysql -u tile -ptile tile -e 'truncate table access;'

