/* ::::: http://www.asklater.com/matt/odbl/odbl.css ::::: */

body { width: 640px; margin-left: auto; margin-right: auto; padding: 10px; border: 1px solid black; font-family: sans-serif; }
h2 { font-size: large; }
p.disclaimer { font-size: small; }
li { list-style: none outside none; padding-bottom: 25px; padding-left: 70px; padding-top: 10px; }
li.share { background: url('share.png') no-repeat scroll 0pt 0pt transparent; }
li.create { background: url('create.png') no-repeat scroll 0pt 0pt transparent; }
li.open { background: url('keep_open.png') no-repeat scroll 0pt 0pt transparent; }
li.attribute { background: url('attribute.png') no-repeat scroll 0pt 0pt transparent; }
li.adapt { background: url('adapt.png') no-repeat scroll 0pt 0pt transparent; }
li.alike { background: url('share_alike2.png') no-repeat scroll 0pt 0pt transparent; }
