% require 'cgi'
% load 'osm/dao.rb'
% cgi = CGI.new
% dao = OSM::Dao.instance
<html>
<head>
  <script type="text/javascript" src="/javascript/pngfix.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>OpenStreetMap</title>
</head>
<body>

% ERuby.import('include/loggedin.rhtml')
      


      
