<%
require 'dao.rb'

dao = OSM::Dao.instance

res = dao.call_sql { 'select * from codes where confirmed = 1 order by part1, part2' }
res.each_hash do |row|
  puts row['lat'] + ' ' + row['lon'] + ' ' + row['part1'] + ' ' + row['part2']
end

%>

