url="http://www.openstreetmap.org/api/0.5/map?bbox="

# list of locations. will be used as filename.
locations="Bremen Hannover IsleOfWight"

# bounding boxes in form "minlon,minlat,maxlon,maxlat" W and S are negative.

Bremen_bbox="8.4900,52.9195,9.123,53.234"
Hannover_bbox="9.55,52.3,9.91,52.47"
IsleOfWight_bbox="-1.6,50.57,-1.0,50.77"
