body
{
	/*background-color: #c0ffff;  */
	background-image: url(gradient.png);
	font-size: 200%;
	font-family: luxi sans, verdana, helvetica, arial, sans-serif;
	color: white;
}

.heading
{
	text-align:center;
}

a
{
	text-decoration: none;
	color: yellow;
}

img
{
	border-style:none;
}

pre
{
	background-color: white;
	border-style: solid;
	overflow: auto;
}
