body {
    margin: 0px;
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('/img/bodybg.png');
    background-repeat: repeat-x;
    width: 95%;
    height: 100%;
}

img {
    border: none;
}

div.menu {
    background-repeat: repeat-x;
    background-position: 0px 0px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 6px 10px 2px 10px;
    text-align: center;
    height: 3ex;
    font-weight: bold;
}

a {
    text-decoration: none;
    position: relative;
    color: #404590;
}

a:hover {
    text-decoration: underline;
}

img.deco {
    float: right;
}

/* events table */

table.event {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

table.event td {
    padding: 2px 8px 2px 2px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
	vertical-align: top;
}

