    body { font-size: .8em; }
    h1 { margin: 0; padding: 0;}
    h2 { margin: 0; padding: 0;}
    label { font-weight: bolder;}
    #new_keys {display:none;}
    form ul.fields {list-style: none;}
    .fields.varying label {width:15em;display: inline-block;line-height: 1.8;vertical-align: top;}
    label.delete {color:#f00;font-weight:normal;}
    .deleting {text-decoration:line-through;color:#f00; /* planned */}
    .changed {color:#0f0; /* planned */}
    .redundant {display: none;}
    li.node { list-style-type: disc; } /* FIXME: need some decent list icons here */
    li.way { list-style-type: circle; }
    li.relation { list-style-type: square; }
    abbr.legend { border-bottom: 0;} 
    .role { font-style:italic; }
