    body { font-size: .8em; }
    h1 { margin: 0; padding: 0;}
    h2 { margin: 0; padding: 0;}
    label { font-weight: bolder;}
    #new_keys {display:none;}
    form ul.fields {list-style: none; padding: 0px; margin: 0px}
    .fields.varying label {width:15em;display: inline-block;line-height: 1.8;vertical-align: top;}
    .deleting {text-decoration:line-through;color:#f00; /* planned */}
    .changed {color:#0f0; /* planned */}
    .redundant {display: none;}
    li.node { list-style-type: disc; } /* FIXME: need some decent list icons here */
    li.way { list-style-type: circle; }
    li.relation { list-style-type: square; }
    abbr.legend { border-bottom: 0;} 
    .role { font-style:italic; }

.head { 
  border-bottom: 1px dashed red; 
  margin:  -3px -5px 5px -5px;
  padding: 5px;
} 
.head h1 {font-size: 1.3em; font-weight:normal; } 

    label.delete {color:#f00;font-weight:normal; width:5em!important;}
