##
## config file for lowzoom.pl
##

UploadDir=../../tmp

#set it to one if you want to use oceantiles-z12.dat
# - if also "WriteSuspicious" is on, every downloaded blank tile will be checked against oceantiles.dat
# 			if the downloaded tile does not correspond to the data in oceantiles, 
#				a message will be written to "suspicious_tiles" 
#	- using "BlankSource" you can set the source for blank tiles
#UseOceantilesDat=1

#if "UseOceantilesDat" is on, you can decide which source to use for blank tiles
# default: server
# (note: even using "BlankSource=oceantiles" the server will be asked for each tile, 
# 			to know which one is blank.)
#BlankSource=oceantiles
#BlankSource=server

#lowzoom supports some checking now (see: "UseOceantilesDat"), suspicious tiles will be written to a file
#called "suspicious_tiles.txt" for further checking
#(note: currently useless if "UseOceantilesDat" not set) 
#WriteSuspicious=1
