<html>
 <head>
   <title>{% block title %}{{ title }}{% endblock %} -- Simple OSM Editor</title>
   <style type="text/css">
    body { font-size: .8em; }
    h1 { margin: 0; padding: 0;}
    h2 { margin: 0; padding: 0;}
    label { font-weight: bolder;}
    #new_keys {style="display:none";}
    form ul.fields {list-style: none;}
    .fields.varying label {width:15em;display: inline-block;line-height: 1.8;vertical-align: top;}
    label.delete {color:#f00;font-weight:normal;}
    .deleting {text-decoration:line-through;color:#f00; /* planned */}
   </style> 
 </head>
 <body>
   <h1>Simple OSM Editor</h1>
   {% block body %}
   {% endblock %}
 </body>
</html> 
