<html>
 <head>
   <title>{% block title %}{{ title }}{% endblock %} -- Simple OSM Editor</title>
   <link rel="stylesheet" href="/static/base.css" />
   <script src="http://openlayers.org/api/OpenLayers.js"></script>
   <script src="/static/map.js"></script>
 </head>
 <body>
   <div class="head">
       <div style='float: right'>
         <a href="/">Home</a> {% if not logged_in %} | <a href="/login/">Login</a> {% else %} | <a href="/logout/">Logout</a> {% endif %}  
       </div>  
       <h1>Simple OSM Editor</h1>
   </div>
   {% block body %}
   {% endblock %}
 </body>
</html> 
