{% extends "base.html" %}
{% block body %}
<h2>Help</h2>
<p>
  The simple OSM editor has two modes. In the 'select' mode (arrow), you can
  select existing data. Simply click in the map once: this will load the data
  into the map interface. Once you have loaded some OSM data, you can click
  any item to see its tags, and follow the link to edit them.
</p>
<p>
  In 'create mode' (pencil) double clicking the map will create a node, then redirect you to the node editing page to edit it. Before doing this, you must be logged in.
</p>  
{% endblock %}

