{% extends "base.html" %}
{% block title %}{{obj.type.title}} {{ obj.id }}{% endblock %}
{% block body %}
<h2>{{ obj.type.title }} {{ obj.id }}</h2>

<p>
  Last edited {{ obj.timestamp }}
</p>  
<form method="POST">
<input type="hidden" name="id" value="{{ obj.id }}" />
<input type="hidden" name="type" value="{{ obj.type }}" />
<input type="hidden" name="timestamp" value="{{ obj.timestamp }}" />
<table>
{% for k, v in obj.tags.items %}
    <tr>
        <td><b>{{ k }}</b>:</td>
        <td> <input name="key_{{k}}" value="{{ v }}" /></td>
        <td> <input type="checkbox" name="delete_key_{{k}}" value="delete" /> Delete?</td>
    </tr>    
{% endfor %}
</table>
Add more tags<a href="#" onclick='document.getElementById("new_keys").style.display="";return false'>...</a>
<div id="new_keys" style="display:none">
<table>
  <tr>
    <td>Tag 1: <input name="new_key_1" /></td>
    <td><input name="new_value_1" /></td>
    <td></td>
  </tr>  
  <tr>
    <td>Tag 2: <input name="new_key_2" /></td>
    <td><input name="new_value_2" /></td>
    <td></td>
  </tr>  
  <tr>
    <td>Tag 3: <input name="new_key_3" /></td>
    <td><input name="new_value_3" /></td>
    <td></td>
  </tr>  
</table>  
</div>
<div>
Username: <input type="text" name="username" /><br />
Password: <input type="text" name="password" />
</div>
<input type="submit" value="Change" />
</form>
{% endblock %}
