{% extends "base.html" %}
{% block title %}{{obj.type.title}} {{ obj.id }}{% endblock %}
{% block body %}
{% block summary %}
<h2><a href="{{ obj.uri }}">{{ obj.type.title }} {{ obj.id }}</a>{% if obj.tags.name %}: {{ obj.tags.name }}{% endif %}</h2>
<p class="meta">
  Last edited {{ obj.timestamp }} by <a href="{{ obj.user.uri }}">{{ obj.user.id }}</a>
</p>
{% endblock %}
<form method="POST" action="" class="foo">
<input type="hidden" name="id" value="{{ obj.id }}" />
<input type="hidden" name="type" value="{{ obj.type }}" />
<input type="hidden" name="timestamp" value="{{ obj.timestamp }}" /> <!-- is this needed in the form? -->
<fieldset>
<ul class="fields varying">
{% for k, v in obj.tags.items %}
  <li>
        <label for="key_{{k}}">{{ k }}</label>
        <input name="key_{{k}}" id="key_{{k}}" value="{{ v }}" onchange='if (this.value != this.origValue) { this.className="changed"; } else { this.className = ""; }'/>
        <input type="checkbox" name="delete_key_{{k}}" id="delete_key_{{k}}" value="delete" onChange='javascript:document.getElementById("key_{{k}}").className=(this.checked?"deleting":"")'/><label class="delete" for="delete_key_{{k}}">Delete?</label>
    </li>
    <script> document.getElementById("key_{{k}}").origValue = '{{v}}'; </script>
{% endfor %}
</ul>
</fieldset>
<p class="instruction" id="add_tags">
<a href="#" onclick='javascript:document.getElementById("new_keys").style.display="block";document.getElementById("add_tags").style.visibility="hidden";return false'>Add more tags…</a>
</p>
<fieldset id="new_keys">
<legend>New tags</legend>
<ol class="fields">
  <li>
    <label for="new_key_1">Key: </label><input name="new_key_1" id="new_key_1" />
    <label for="new_value_1"><input name="new_value_1" id="new_value_1" /></td>
  </li>  
  <li>
    <label for="new_key_2">Key: </label><input name="new_key_2" id="new_key_2" />
    <label for="new_value_2"><input name="new_value_2" id="new_value_2" /></td>
  </li>  
  <li>
    <label for="new_key_3">Key: </label><input name="new_key_3" id="new_key_3" />
    <label for="new_value_3"><input name="new_value_3" id="new_value_3" /></td>
  </li>  
</ol>
<!-- 
<p class="hint resource">
<a href="http://wiki.openstreetmap.org/wiki/Map_Features">Map features</a>
</p>
-->
</fieldset>
{% if not logged_in %}
<fieldset>
<legend>Credentials</legend>
<ul class="fields varying">
<li><label for="username">Username:</label><input type="text" name="username" id="username" /></li>
<li><label for="password">Password:</label><input type="password" name="password" id="password" /></li>
</ul>
</fieldset>
{% endif %}
<input type="submit" value="Change" />
</form>
{% if obj.child %}
<h3>Contains object{% ifnotequal obj.child_count 1 %}s{% endifnotequal %}:</h3> <!-- FIXME: probably need some nicer heading but I can't be dealing with plural checking right now -->
<ul class="children">
{% for c in obj.child %}
  <li class="{{c.type}}">{% if c.role %}{{c.role}}: {% endif %}<a href="/{{c.type}}/{{c.ref}}"><span class="redundant">{{c.type|lower}} </span>{{c.ref}}</a></li> <!-- FIXME: should see if the framework can supply the link path rather than hardcoding in the URL pattern -->
<!-- TODO: add delete checkboxes to these children -->
{% endfor %}
</ul>
{% endif %}
{% endblock %}
