{% extends "base.html" %}
{% block title %}{{obj.type.title}} {{ obj.id }}{% endblock %}
{% block body %}
{% block summary %}
<h2><a href="{{ obj.browse_url }}">{{ obj.type.title }} {{ obj.id }}</a>{% if obj.tags.name %}: {{ obj.tags.name }}{% endif %}</h2>
<p class="meta">
  Last edited {{ obj.timestamp }} {% if obj.user %} 
   by <a href="{{ obj.user_link }}">{{ obj.user }}</a>
  {% endif %} 
</p>
{% endblock %}
<div id="map" style="float:right; width: 256px; height: 256px"></div>
<script>
  map = mapOf('map', '{{obj.type}}', {{obj.id}});
</script>  
<form method="POST" action="" class="foo">
<input type="hidden" name="id" value="{{ obj.id }}" />
<input type="hidden" name="type" value="{{ obj.type }}" />
<input type="hidden" name="timestamp" value="{{ obj.timestamp }}" /> {# needed until 0.6: this is our conflict detector #}
{% if obj.tags %}
<fieldset>
<ul class="fields varying">
{% for k,v in sorted_tags %}
  <li>
        <label for="key_{{k}}">{{ k }}</label>
        <input name="key_{{k}}" id="key_{{k}}" value="{{ v }}" onchange='this.changed = (this.value != this.origValue); if (this.changed) { this.className="editing"; document.getElementById("delete_key_{{k}}").checked=false; }' maxlength="200"  style="width: 300px"/>
        <input type="checkbox" name="delete_key_{{k}}" id="delete_key_{{k}}" value="delete" onChange='document.getElementById("key_{{k}}").className=(this.checked?"deleting":(document.getElementById("key_{{k}}").changed ? "editing" : ""))'/><label class="delete" for="delete_key_{{k}}">Delete?</label>
    </li>
    <script> document.getElementById("key_{{k}}").origValue = '{{v}}'; </script>
{% endfor %}
</ul>
</fieldset>
{% else %}
<p class="advisory">Currently {{obj.type}} has no tags</p>
{% endif %}
<p class="instruction" id="add_tags">
<a href="#" onclick='document.getElementById("new_keys").style.display="block";document.getElementById("add_tags").style.visibility="hidden";return false'>Add {% if obj.tags %}more {% endif %}tags…</a>
</p>
<fieldset id="new_keys">
<legend>New tags</legend>
<ol class="fields">
  <li>
    <label for="new_key_1">Key: </label><input name="new_key_1" id="new_key_1" />
    <label for="new_value_1"><input name="new_value_1" id="new_value_1" /></td>
  </li>  
  <li>
    <label for="new_key_2">Key: </label><input name="new_key_2" id="new_key_2" />
    <label for="new_value_2"><input name="new_value_2" id="new_value_2" /></td>
  </li>  
  <li>
    <label for="new_key_3">Key: </label><input name="new_key_3" id="new_key_3" />
    <label for="new_value_3"><input name="new_value_3" id="new_value_3" /></td>
  </li>  
</ol>
<!-- 
<p class="hint resource">
<a href="http://wiki.openstreetmap.org/wiki/Map_Features">Map features</a>
</p>
-->
</fieldset>
{% if not logged_in %}
<fieldset>
<legend>Credentials</legend>
<ul class="fields varying">
<li><label for="username">Username:</label><input type="text" name="username" id="username" /></li>
<li><label for="password">Password:</label><input type="password" name="password" id="password" /></li>
</ul>
</fieldset>
{% endif %}
<input type="submit" value="Change" />
</form>

<form method="POST" onsubmit='return confirm("Are you sure you want to delete this object?")'>
<input type="hidden" name='action' value="delete" />
<input type="hidden" name="id" value="{{ obj.id }}" />
<input type="hidden" name="type" value="{{ obj.type }}" />
<input type="hidden" name="timestamp" value="{{ obj.timestamp }}" /> {# needed until 0.6: this is our conflict detector #}
<input type="submit" value="Delete" />
</form>
{% if obj.members %}
<h3>Contains {{ obj.members|length }} member{{ obj.members|length|pluralize }}:</h3>
<ul class="children">
{% for c in obj.members %}
  <li class="{{c.type}}"><a href="{{c.ref.local_url}}"><span class="redundant">{{c.type|lower}} </span>{{c.ref}}</a>{% if c.role %} (role: <span class="role">{{c.role}}</span>){% endif %}{% if c.ref.tags.name %}: {{c.ref.tags.name}}{% else %} <abbr class="legend" title="{{c.type}} contains traces of nuts">*</abbr>{% endif %}</li> 
  {# FIXME: should see if the framework can supply the link path rather than hardcoding in the URL pattern #}
  {# TODO: add delete checkboxes to these children #}
{% endfor %}
</ul>
{% endif %}

{% if obj.nodes %}
<h3>Contains {{ obj.nodes|length }} node{{ obj.nodes|length|pluralize }}:</h3>
<ul class="children">
{% for c in obj.nodes %}
  <li class="{{c.type}}"><a href="{{c.local_url}}"><span class="redundant">{{c.type|lower}} </span>{{c.id}}</a>{% if c.tags.name %}: {{c.ref.tags.name}}{% else %} <abbr class="legend" title="{{c.type}} contains traces of nuts">*</abbr>{% endif %}</li> 
  {# FIXME: should see if the framework can supply the link path rather than hardcoding in the URL pattern #}
  {# TODO: add delete checkboxes to these children #}
{% endfor %}
</ul>
{% endif %}
<div class="debug">
<h4>Source XML</h4>
<pre class="xml">
{{ obj_xml }}
</pre>
</div>
{% endblock %}
