/* css for general use*/

#logo {
	float: left;
	margin-top: -45px;
	margin-left: -60px;
}

div.mnav {
	text-align: right;
}

div.mtop {
    margin-top: 10px;
}

div.mnav ul li {
   	list-style-type: none;
  	display: inline;
  	margin: 0;
  	padding: 0 0 0 15px;	
}

.lnav a:link {
	text-decoration: none;
	color: #3375A1;
	border-bottom: none;
}

.lnav a:visited {
	text-decoration: none;
	color: #3375A1;
	border-bottom: none;
}

.lnav a:hover {
	border-bottom: 1px solid #A9A9A9;
	color: #3FA9F5;
}

#osm_logo {
	position: absolute;
	width: 70px;
	padding-top: 25px;
	padding-left: 55px;
}

h1.osm_heading {
	margin-bottom: 35px;
	margin-top: 5px;
	font-size: 36px;
	margin-left: 80px;
	text-align: left;
}

hr.seperator {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(212,212,212,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(212,212,212,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(212,212,212,1) 50%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(212,212,212,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(255,255,255,1) 0%,rgba(212,212,212,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
	height: 1px;
	margin-bottom: 18px;
	clear: both;
	border: 0;
}

span.read_more {
    text-align: right;
    float: right;
}


/* css for index.html */

#what_is_osm p,
#howto_use_data p,
#demo p,
#howto_contribute p
{
	margin-bottom: 1px;
	padding-left: 15px;
}

#show_map {
	padding-top: 35px;
	text-align: center;
	padding-left: 20px;
}

#show_map a {
	font-size: 15px;
	padding: 15px;
}

#footer {
	text-align: center;	
}

/* css for map-carousel */

#carousel {
	margin-left: 15px;
	margin-bottom: 20px;	
}

#carousel ul {
    list-style-type: none;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#carousel ul li {
    display: inline;
}

ul.carousel_tabs li a {
    float: left;
    line-height: 35px;
    border: 1px solid #CDCDCD;
    width: 225px;
    border-radius: 1px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(230,230,230) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(230,230,230)));
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    background: linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
}

ul.carousel_tabs li a.carousel-selected {
	outline: none;
    background: rgb(255,255,255);
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
}

ul.carousel_tabs li a:focus {
	outline: none;
}

#carousel-wrapper {
	width: 906px;
    height: 220px;
    overflow: hidden;
    clear: both;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
   /* background: rgb(240,240,240);
	background: -moz-linear-gradient(top, rgb(240,240,240) 0%, rgb(230,230,230) 11%, rgb(255,255,255) 80%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(240,240,240)), color-stop(11%,rgb(230,230,230)), color-stop(80%,rgb(255,255,255)));
	background: -webkit-linear-gradient(top, rgb(240,240,240) 0%,rgb(230,230,230) 11%,rgb(255,255,255) 80%);
	background: -o-linear-gradient(top, rgb(240,240,240) 0%,rgb(230,230,230) 11%,rgb(255,255,255) 80%);
	background: -ms-linear-gradient(top, rgb(240,240,240) 0%,rgb(230,230,230) 11%,rgb(255,255,255) 80%);
	background: linear-gradient(top, rgb(240,240,240) 0%,rgb(230,230,230) 11%,rgb(255,255,255) 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 );*/
}
#carousel-content {
    width: 5500px;
}
#carousel-content .slide {
    float: left;
    width: 910px;
    height: 90px;
}

#carousel-content img {
	max-width: 145px;
	max-height: 145px;
    margin-top: 20px;
}

.next, .prev {
	cursor: pointer;
}

.next, .prev {
	position: absolute;
	top: 75px;
	width: 30px;
}

.prev {
	left: -40px;
	width: 30px;
}

.next {
	right: 10px;
}

#map_select img {
	max-width: 110px;
	max-height: 110px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#map_select .description {
	width: 145px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	font-size: 12px;
	color: #909090;
	text-align: center;
/*	background-color: red;*/

}

#mobile_maps .item,
#viewing .item,
#trying .item
{
	float: left;
}

#mobile_maps .description,
#viewing .description,
#trying .description
{
	margin-left: 50px;
	font-size: 12px;
	color: #909090;
	text-align: center;
}


/* css for faq.html */

#faq p,
#community p,
#gps p,
#license p,
#server p,
#fan p,
#contact p
{
	margin-bottom: 10px;
	padding-left: 15px;
}


#table_123, 
#table_123 td, 
#table_123 tr,
#table_fan, 
#table_fan td,
#table_fan tr
{
	border: 0;
}

.screenshots {
	width: 250px;
}

#table_123 p {
	margin-top: 10px;
}

/* responsive container */
.respcontainer {
	width: 95% !important;
	max-width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

/* layout for iPhone-sized screens */
@media (max-width: 520px) {
	/* Navigation formatieren */
	div.mnav {
		text-align: center !important;
	}
	
	ul, ol {
		margin-left: 0px !important;
	}
	
	.responsive_nav {
		left: 5px;
		right: 10px !important;
		font-size: 12px !important;
	}
	
	div.mnav ul li {
		padding: 0 15px 0 0 !important;
	}
	
	div.mtop {
		margin-top: 5px;
	}
	
	/* Logo und Headline */
	
	#osm_logo {
		width: 50px;
		padding-top: 35px;
	}
	
	h1.osm_heading {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: -12px;
		margin-left: 55px;
		line-height: 24px;
	}
	
	/* Text Formatierung */
	#faq p, #community p, #gps p, #license p, #server p, #fan p, #contact p {
		padding-left: 0px;
	}
	
	h2 {
		line-height: 24px;
		padding-bottom: 10px;
	}
	
	/* Anpassungen für einzelne Seiten */
	#contact .offset1 {
		margin-left: 10px;
	}
	
	#fan .span9 {
		width: auto;
	}
	
	#table_123 img {
		width: 30px;
		height: 30px;
	}
	
	#table_123 img.screenshots {
		width: 250px;
		height: auto;
	}
	
	#table_123 td {
		padding: 10px 2px 9px;
	}
}