Source: openstreetmap
Section: unknown
Priority: extra
Maintainer: Joerg <OpenStreetMap@ostertag.name>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: openstreetmap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is the masterpackage for all OpenStreetmap relevant Stuff
 <insert long description, indented with spaces>

Package: josm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Openstreetmap Editot josm
 <insert long description, indented with spaces>

Package: openstreetmap-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Openstreetmap Utils
 <insert long description, indented with spaces>

Package: openstreetmap-mapnik
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Openstreetmap Renderer MapNik
 <insert long description, indented with spaces>

Package: openstreetmap-osmarender
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Openstreetmap Renderer OsmARender
 <insert long description, indented with spaces>

Package: openstreetmap-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Openstreetmap Data Package
 <insert long description, indented with spaces>

Package: openstreetmap-doc
Architecture: all
Description: Documentation for openstreetmap
 <insert long description, indented with spaces>
