Source: openstreetmap
Section: unknown
Priority: extra
Maintainer: tweety <tweety@moby.dasch.ostertag.name>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: openstreetmap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: josm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: openstreetmap-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: openstreetmap-mapnik
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: openstreetmap-osmarender
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: openstreetmap-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: openstreetmap-doc
Architecture: all
Description: Documentation for openstreetmap
 <insert long description, indented with spaces>
