Source: openstreetmap-utils
Section: utils
Priority: optional
Maintainer: Joerg Ostertag <debian@ostertag.name>
Build-Depends:
	debhelper (>> 3.7.2),
	grass-dev,
	libgeos-dev,
	libmagick9-dev | libmagick10-dev ,
	libmysql++-dev,
	libpq-dev,
	libshp-dev,
	libshp-dev,
	libxml2-dev,
	pkg-config,
	ant, ant-optional,
	sun-java5-jdk,
	libmysqlclient15-dev
Standards-Version: 3.6.1

Package: openstreetmap-utils
Architecture: any
Depends:
	perl,
	python,
	libshp1,
	libmagick9 | libmagick10,
	libfile-slurp-perl,
	libdate-manip-perl,
	postgresql-client,
	gpsbabel,
	libshp1
Recommends:
	gpsdrive,
	mapnik
Suggests:
	java
Conflicts:
	gpsdrive-scripts,
	osm2pgsql
Description: OpenStreetmap Utils
 This Package contains some of the most usefull Utils
 for working with OpenStreetMap
