<h2><%= h(@title) %></h2>
 
<%= link_to "pending strings", :action => 'pending', :locale => @user.locale -%> | <%= link_to "completed strings", :action => 'complete', :locale => @user.locale -%> | <%= link_to "statistics", :action => 'stats', :sort => 'percentage' -%>

<hr />

<%= render :partial => 'translation', :collection => @entry %>

<hr />
