#---------------------------------------------------------------
# Password file for tiles@home client
#
# Enter your passwords here, then rename it to secret.pl
#---------------------------------------------------------------

# Website to upload tiles to:
sub GetUploadURL(){
  return("http://osmathome.bandnet.org/Upload/tile2.php");
}
sub GetUploadPassword(){
  return("username|password");
}

# OSM username for downloading map data
sub GetOsmPassword(){
  return("user%40domain:password");
}

1