#
# Config file for tahNG
#

# Edit this file and save as "authentication.conf"

## Upload
# this is handed out by Deelkar. OSM or Wiki account will NOT work.
UploadUsername=CHANGEME
UploadPassword=CHANGEME