body	{
	background-image: url(./grau.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: white;
}

#hinweis {
	height: 100px;
}

#hinweistext {
	width: 700px;
	margin: auto;
	font-weight: normal;
	font-family: Helvetica, sans-serif;
	font-size: 1.50em;
	margin-top: 30px;
	text-align: center;
	color: #4F4F4F;
}

#ausrufezeichen {
	position: absolute;
	top: 0px;
	margin-left: 10%;
	margin-top: 0px;
}

#close {
	position: absolute;
	top: 0px;
	right: 10px;
}

.ldotted-h a:link, a:visited {
	text-decoration: none;
	border-bottom: 2px dotted grey;
	color: #4F4F4F;
}

.ldotted-h a:hover {
	border-bottom: 2px dotted #014682;
	color: #014682;
}