/*----------------------------------------------------
TOP
----------------------------------------------------*/

div.top {
	font-family: Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
}

div.love {
	position: absolute;
	top: 10px;
	left: 30px;
	text-align: left;
	color: black;
}

div.nav {
	margin-right: 20px;
	text-align: right;
}
