/*----------------------------------------------------
Everything in #body is centered
----------------------------------------------------*/

#body {
	margin: auto;
	width: 850px;
	font-weight: normal;
}

img { 
   border: none; 
}

/*----------------------------------------------------
TOP
----------------------------------------------------*/

div.nav ul li {
   list-style-type: none;
  	display: inline;
  	margin: 0;
  	padding: 0 10px 0;	
}

.lnav a:link {
	text-decoration: none;
	color: #216CB8;
	border-bottom: none;
}

.lnav a:visited {
	text-decoration: none;
	color: #216CB8;
	border-bottom: none;
}


.lnav a:hover {
	border-bottom: 1px dotted darkgrey;
	color: #216CB8;
}

/*----------------------------------------------------
LINKS
----------------------------------------------------*/

.ldotted a:link, a:visited {
	text-decoration: none;
	color: #333333;
	border-bottom: 1px dotted grey;
}

.ldotted a:hover {
	border-bottom: 1px dotted #014682;
	color: #014682;
}

.lwithout a:link {
	border-bottom: none;
	text-decoration: none;
	color: #333333;
}

.lwithout a:visited {
	border-bottom: none;
	text-decoration: none;
	color: #333333;
}

.lwithout a:hover {
	border-bottom: none;
	color: #014682;
}

/*----------------------------------------------------
UEBERSCHRIFTEN
----------------------------------------------------*/

h1 {
	font-family: Garamond, serif;
	text-align: center;
	font-size: 3.7em;
	font-weight: normal;
	margin-top: 17px;
	margin-bottom: 5px;
}

h2 {
	font-family: Garamond, serif;
	text-align: left;
	font-size: 2.2em;
	font-weight: normal;
	color: #C1272D;
	margin-top: 27px;
	margin-left: 0px;
	margin-bottom: 10px;
}

/*----------------------------------------------------
CONTENT
----------------------------------------------------*/

.info {
	font-family: Times, serif;
	text-align: center;
	font-size: 1.1em;
	font-weight: normal;
	color: #333333;
	line-height: 1.5;
}

.text {
	font-family: Times, serif;
	text-align: left;
	font-size: 1em;
	font-weight: normal;
	color: #333333;
	line-height: 1.5;
}

.tmore {
	margin-left: 50px;
	width: 700px;
}

/* ANLEITUNGEN */

.tlang {
	margin-left: 50px;
	width: 800px;
}

.tlist {
	margin-left: 60px;
	margin-bottom: 0px;
	margin-top: -10px;
	width: 700px;
}

.tfragen {
	margin-left: 50px;
	margin-top: -8px;
	width: 700px;
}

/* FORUM */

table.commu {
	margin-left: 80px;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: Garamond, serif;
	text-align: center;
	font-size: 1.7em;
	font-weight: normal;
	color: #333333;
}

/* WIKI */

.tdinge {
	position: absolute;
	margin-left: 50px;
	margin-top: 0px;
	width: 500px;
	margin-bottom: 10px;
}

#containerwiki {
	height: 50px;
}

#wikipfeil {
	position: absolute;
	margin-left: 550px;
	margin-top: 10px;
}

.tabcontentwikipfeil {
	font-family: Garamond, serif;
	text-align: center;
	font-size: 1.7em;
	font-weight: normal;
	color: #333333;
}

#karo {
	margin-top: 20px;
	margin-left: 81px;
	margin-bottom: 40px;
	width: 639px;
	height: 81px;
	background-image: url(./karo.png);
	background-position: top center;
	background-color: #f2f4f5;
}

#karotext {
	margin-left: 40px;
	margin-top: 20px;
	padding-top: 12px;
	width: 550px;
}

.tabcontentwikikaro {
	font-family: Times, serif;
	text-align: left;
	font-size: 1em;
	font-weight: normal;
	color: #333333;
	line-height: 1.7;
}


/* LOKAL TABELLE */

#localcontainer {
	margin-left: 70px;
	margin-top: 15px;
	height: 170px;
}

table.local {
	margin-right: auto;
}

#karte {
	width: 205px;
	position: absolute;
}

#kalender {
	width: 240px;
	margin-left: 225px;
	position: absolute;
	margin-top: 0px;
}

#welt {
	width: 200px;
	margin-left: 480px;
	position: absolute;
	margin-top: 0px;
}

/* Blogs */

#blogscontainer {
	margin-top: 0px;	
}

.tosmf {
	margin-left: 50px;
	margin-top: 10px;
	width: 700px;
	margin-bottom: 20px;
}

.togd {
	margin-left: 50px;
	margin-top: 15px;
	width: 700px;
	margin-bottom: 20px;
}

table.OSMBlog {
	margin-left: 47px;
	margin-right: auto;
	margin-top: 0px;
}

table.Twitter {
	margin-left: 47px;
	margin-right: auto;
	margin-top: -10px;
}

.tabcontentblogs {
	font-family: Times, serif;
	text-align: left;
	font-size: 1em;
	font-weight: normal;
	color: #333333;
	line-height: 1.5;
}

/*----------------------------------------------------
FOOTER
----------------------------------------------------*/

hr	{
 	border: 0px;
	border-top: solid 0.1em #B3B3B3;
 	border-bottom: transparent;
}

.osmde {
	font-family: Times, serif;
	text-align: center;
	font-size: 0.8em;
	font-weight: normal;
}


