# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file.
# This file also has a username field, that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#
30 1	* * *	root	/usr/local/ezad/bin/cron/Nacht.pl2
25 1	* * *	root	ntpdate www.uni-giessen.de


38 */1	* * *	www-data	/usr/bin/planet-mirror --planet-dir=/var/www/planet.openstreetmap.de/
13 */1  * * *   www-data	/bin/bash /var/www/bin/update_postgress.sh

