Source: openstreetmap-gosmore
Section: utils
Priority: optional
Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Uploaders:
	Francesco Paolo Lovergine <frankie@debian.org>,
	Petter Reinholdtsen <pere@debian.org>,
	Andreas Putzo <andreas@putzo.net>
Build-Depends:
	debhelper (>> 5.0.0),
	cdbs,
	libgtk2.0-dev,
	dpatch,
	libxml2-dev,
	libcurl-dev
Standards-Version: 3.8.0
Homepage: http://wiki.openstreetmap.org/index.php/Gosmore
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-grass/packages/gosmore/trunk
Vcs-Svn: svn://svn.debian.org/svn/pkg-grass/packages/gosmore/trunk

Package: openstreetmap-gosmore
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} unzip
Recommends: gpsd
Suggests: josm
Conflicts: gosmore
Description: Openstreetmap.org viewer with searching and routing capabilities
 Gosmore is a openstreetmap.org viewer. It uses it's own binary format that
 facilitate interactive searching and routing. It has many of the features
 found in modern handheld GPS receivers.
