<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 10 minutes"
</IfModule>

<Directory ~ "\.svn">
	Order allow,deny
	Deny from all
</Directory>

#<Location /api/>
#503 Service Unavailable
#</Location>